<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Працівники</title>
</head>
<body>
    <h2>Список працівників</h2>
    <table border="1">
        <tr>
            <th>Ім'я</th>
            <th>Посада</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.position.title }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Повернутись на головну</a>
</body>
</html>
